<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход</title>
</head>
<body>
    <h2>Страница входа</h2>
    <form action="/" method="post">
        <label for="name">Имя:</label><br>
        <input type="text" id="name" name="name"><br>
        <label for="email">Электронная почта:</label><br>
        <input type="email" id="email" name="email"><br><br>
        <input type="submit" value="Отправить">
    </form>
</body>
</html>
