{% extends "base.html" %}

{% block title %}Product{% endblock %}

{% block header_content %}
<h1>Одежда:</h2>
{% endblock header_content %}

{% block content %}
<ul>
    <li>Куртки</li>
        <ul>
            <li>Куртка цветная</li>
            <li>Куртка для зимы</li>
            <li>Куртка для весны</li>
        </ul>
    <li>Обувь</li>
    <ul>
        <li>Обув цветная</li>
        <li>Обувь для зимы</li>
        <li>Обувь для весны</li>
    </ul>
    <li>Верхняя одежда</li>
    <ul>
        <li>Толстовки</li>
        <li>Кофты</li>
        <li>Футболки</li>
    </ul>
</ul>
{% endblock content %}